body {
  background-image: url(img/bg.jpg);
  font-family: sans-serif;
  font-size: 11pt;
  line-height: 2;
}
p {
  display: block;
  padding-bottom: 6pt;
  line-height: 1.5;
}
.p {
  line-height: 1.5;
}
i {
  font-style: italic;
}
h1 {
  font-size: 30pt;
  color: black;
}
a,
a:visited,
a:active {
  color: #166ca1;
  text-decoration: none;
  border-bottom: 1px #166ca1 dashed;
}
a:hover,
a:visited:hover,
a:active:hover {
  color: #1c8ace;
  text-decoration: none;
  border-bottom: 1px #1c8ace dashed;
}
/*Строка без отступов*/
.row {
  float: left;
  width: 100%;
}
/*Добавляет отступы для строк*/
.row_margin {
  margin: 0 35pt;
  margin-top: 35pt;
}
/*Левая колонка готовая к заполнению*/
.left {
  float: left;
  width: 60%;
}
/*Правая колонка без отступов*/
.right {
  float: left;
  width: 40%;
}
/*Добавляет отступы для правой колонки*/
.right_margin {
  margin-left: 35pt;
}
/*Добавляет нижний отступ для последней строки*/
.footer_row {
  padding-bottom: 35pt;
}
/*Примесь для стандартного выравнивания текста*/
.text_align {
  text-align: left;
  vertical-align: top;
}
/*Контейнер для резюме и карандаша*/
.container {
  position: relative;
  padding: 0 80px;
  min-width: 880px;
  max-width: 1080px;
  margin: 0 auto;
}
/*Общий контейнер для тела и шапки резюме*/
.cv_container {
  position: relative;
  float: left;
  background-color: #e8e8ea;
  width: 100%;
  margin: 5% auto;
  box-shadow: -20px 70px 50px rgba(0, 0, 0, 0.3), 30px -20px 40px rgba(245, 245, 245, 0.8);
}
.cv_header {
  border: 1px solid #cdcdd2;
  border-bottom: none;
  color: #686360;
}
.cv_header .key {
  float: left;
  font-weight: 600;
  width: 20%;
}
.cv_header .value {
  float: left;
  font-style: italic;
  width: 80%;
}
.cv_body {
  background-color: #0e0e15;
  border: 1px solid #232334;
  border-top: none;
  border-bottom: none;
  color: #c9c2bc;
}
.cv_body h3 {
  font-size: 18pt;
  color: #ffffff;
  line-height: 1;
  padding-bottom: 24pt;
  padding-top: 18pt;
}
.cv_body h4 {
  font-size: 14pt;
  font-style: italic;
  color: #ffffff;
}
.cv_body h5 {
  margin-top: 8pt;
  color: #cccccc;
  font-style: italic;
}
.cv_body ul li {
  margin-bottom: 14pt;
}
.cv_body .experience {
  line-height: 1.5;
}
.cv_body .lang_name {
  color: #ffffff;
}
.cv_body .indicator {
  height: 4px;
  width: 100%;
  background-color: #686360;
  display: inline-block;
}
.cv_body .indicator .positive {
  height: inherit;
  width: inherit;
  background-color: #ffffff;
}
.cv_body .indicator .prc00 {
  width: 0%;
}
.cv_body .indicator .prc05 {
  width: 5%;
}
.cv_body .indicator .prc10 {
  width: 10%;
}
.cv_body .indicator .prc15 {
  width: 15%;
}
.cv_body .indicator .prc20 {
  width: 20%;
}
.cv_body .indicator .prc25 {
  width: 25%;
}
.cv_body .indicator .prc30 {
  width: 30%;
}
.cv_body .indicator .prc35 {
  width: 35%;
}
.cv_body .indicator .prc40 {
  width: 40%;
}
.cv_body .indicator .prc45 {
  width: 45%;
}
.cv_body .indicator .prc50 {
  width: 50%;
}
.cv_body .indicator .prc55 {
  width: 55%;
}
.cv_body .indicator .prc60 {
  width: 60%;
}
.cv_body .indicator .prc65 {
  width: 65%;
}
.cv_body .indicator .prc70 {
  width: 70%;
}
.cv_body .indicator .prc75 {
  width: 75%;
}
.cv_body .indicator .prc80 {
  width: 80%;
}
.cv_body .indicator .prc85 {
  width: 85%;
}
.cv_body .indicator .prc90 {
  width: 90%;
}
.cv_body .indicator .prc95 {
  width: 95%;
}
.cv_body .indicator .prc100 {
  width: 100%;
}
/*Переход от шапки резюме на тело*/
.transition {
  background: url(img/transition.png) 100% 100% no-repeat;
  height: 20px;
  width: 100%;
  border-left: 1px solid #cdcdd2;
  border-right: 1px solid #232334;
}
.pencil {
  position: absolute;
  top: 0px;
  margin: 50% 0;
  right: 4px;
  background-image: url(img/pencil.png);
  width: 32px;
  height: 606px;
}
/*Классы для создания списка с временной линией*/
.edu {
  float: left;
  width: 100%;
}
.edu .duration {
  float: inherit;
  width: 90px;
  height: 100%;
  line-height: 1.5;
}
.edu .body {
  margin-left: -90px;
  padding-left: 180px;
  background: url(img/time-point-middle.png) 180px 0 no-repeat;
  padding-bottom: 20pt;
  line-height: 1.5;
}
.edu .body .text {
  padding-left: 36px;
}
.edu .body .text .name {
  line-height: 1.5;
}
.edu .body .text .position {
  font-weight: 600;
  color: #ffffff;
  line-height: 2;
}
.edu .body .text .desc {
  font-style: italic;
  font-size: 9pt;
  line-height: 1.5;
}
.edu .top {
  background-image: url(img/time-point-top.png);
}
.edu .last {
  padding-bottom: 0;
}
.hide {
  display: none;
}
.show {
  padding-top: 6pt;
  display: block;
}

